.vs/CEN-4020-Sprint-1/v17/DocumentLayout.json
.vs/CEN-4020-Sprint-1/v17/DocumentLayout.backup.json
.vs/CEN-4020-Sprint-1/v17/.wsuo
.vs/CEN-4020-Sprint-1/FileContentIndex/b697dfcc-1eb2-4ecf-9840-d17bfdf605b1.vsidx
Project1/.vs/Project1/CopilotIndices/17.14.1577.30250/CodeChunks.db
Project1/.vs/Project1/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
Project1/.vs/Project1/FileContentIndex/00a2b639-35a4-4098-bbc5-7e4f85693d7f.vsidx
Project1/.vs/Project1/FileContentIndex/03e621ea-c747-410b-8198-8a1c4bb4363d.vsidx
Project1/.vs/Project1/FileContentIndex/446e69ef-b7fe-4210-8019-cbd1d3e0b9c5.vsidx
Project1/.vs/Project1/FileContentIndex/5b133abc-c4f7-4a81-b185-d8bb9e6c2709.vsidx
Project1/.vs/Project1/FileContentIndex/f9549019-d145-4a23-87eb-0f67f72d319d.vsidx
Project1/.vs/Project1/v17/.futdcache.v2
Project1/.vs/Project1/v17/ResourceExplorer/settings.json
Project1/GameUI/.vs/GameUI/FileContentIndex/d81d4a1c-2f31-41f5-820f-1b4d2924a23d.vsidx
Project1/GameUI/.vs/GameUI/v17/.suo
Project1/GameUI/.vs/UserDisplay.csproj.dtbcache.json
Project1/GameUI/bin/Debug/UserDisplay.exe
Project1/GameUI/bin/Debug/UserDisplay.exe.config
Project1/GameUI/bin/Debug/UserDisplay.pdb
Project1/GameUI/obj/Debug/UserDisplay.Properties.Resources.resources
Project1/GameUI/obj/Debug/UserDisplay.pdb
Project1/GameUI/obj/Debug/UserDisplay.exe.config
Project1/GameUI/obj/Debug/UserDisplay.exe
Project1/GameUI/obj/Debug/UserDisplay.csproj.AssemblyReference.cache
Project1/GameUI/obj/Debug/GameUI.Form_GameMenu.resources
Project1/GameUI/obj/Debug/GameUI.Form_GameBoard.resources
Project1/GameUI/obj/Debug/GameUI.csproj.GenerateResource.cache
Project1/GameUI/obj/Debug/GameUI.csproj.FileListAbsolute.txt
Project1/GameUI/obj/Debug/GameUI.csproj.CoreCompileInputs.cache
Project1/GameUI/obj/Debug/GameUI.csproj.AssemblyReference.cache
Project1/GameUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project1/GameUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Project1/GameUI/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Project1/GameUI/obj/Release/UserDisplay.csproj.AssemblyReference.cache
Project1/GameUI/obj/Release/GameUI.csproj.AssemblyReference.cache
Project1/GameUI/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/Project1/.vs
/Project1/GameUI/bin/Debug/Saves/

Project1/GameUI/bin/Debug/GameUI.exe
Project1/GameUI/bin/Debug/GameUI.exe
Project1/GameUI/bin/Debug/GameUI.exe
Project1/GameUI/bin/Debug/GameUI.pdb
