Project1/.vs/Project1/v17/DocumentLayout.json
Project1/UserDisplay/.vs/UserDisplay.csproj.dtbcache.json
Project1/UserDisplay/bin/Debug/UserDisplay.exe
Project1/UserDisplay/bin/Debug/UserDisplay.exe.config
Project1/UserDisplay/bin/Debug/UserDisplay.pdb
Project1/UserDisplay/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Project1/UserDisplay/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Project1/UserDisplay/obj/Debug/UserDisplay.csproj.AssemblyReference.cache
Project1/UserDisplay/obj/Debug/UserDisplay.csproj.CoreCompileInputs.cache
Project1/UserDisplay/obj/Debug/UserDisplay.csproj.FileListAbsolute.txt
Project1/UserDisplay/obj/Debug/UserDisplay.csproj.GenerateResource.cache
Project1/UserDisplay/obj/Debug/UserDisplay.exe
Project1/UserDisplay/obj/Debug/UserDisplay.exe.config
Project1/UserDisplay/obj/Debug/UserDisplay.Form_GameBoard.resources
Project1/UserDisplay/obj/Debug/UserDisplay.Form_GameMenu.resources
Project1/UserDisplay/obj/Debug/UserDisplay.pdb
Project1/UserDisplay/obj/Debug/UserDisplay.Properties.Resources.resources
Project1/UserDisplay/obj/Release/UserDisplay.csproj.AssemblyReference.cache
Project1/UserDisplay/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Project1/UserDisplay/obj/Release/DesignTimeResolveAssemblyReferences.cache
Project1/.vs/Project1/FileContentIndex/ba49f835-e182-4c7b-aff2-7e2d67ea4d6b.vsidx
Project1/.vs/Project1/FileContentIndex/a89ce69c-01ce-45e4-ab5a-beea5e7317b7.vsidx
Project1/.vs/Project1/FileContentIndex/9843ed36-0b3d-4c82-b301-514dfb787b39.vsidx
Project1/.vs/Project1/FileContentIndex/344eb566-cbf0-4efd-90bd-a9841c293d14.vsidx
Project1/.vs/Project1/FileContentIndex/2de75a81-fdc5-4dcd-8662-a15e880a1a0a.vsidx
Project1/.vs/Project1/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
Project1/.vs/Project1/CopilotIndices/17.14.1091.29919/CodeChunks.db
Project1/.vs/Project1/v17/.suo
Project1/.vs/Project1/v17/DocumentLayout.backup.json
Project1/UserDisplay/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Project1/UserDisplay/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
